<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
</head>

<body>
<div id="jstree_demo_div">

</div>
<script>
    $(function () {
        var jsondata = '{{ data | tojson }}'
        console.log(jsondata)
        $('#jstree_demo_div').jstree(JSON.parse(jsondata));
    });
</script>
</body>
